nav{
  position: absolute;
  /*transform: translate(-50%,-50%);*/

  /*bottom: -30%;*/
  left: 50%;
  transform: translateX(-50%);
  width: 100%;
  margin-top: 80px;
}

.btn{
  font-size: 2rem;
  font-weight: 100;
  width: 180px;
  background-color: var(--color2);
  border: none;
  color: var(--color0);
  padding: 7px 45px;
  cursor: pointer;
  margin: 10px;
  text-decoration: none;
}

.btn.back{
  background-color: var(--color3)
}

.btn:hover{
  font-weight: 600;
}